<!DOCTYPE html>
<html ng-app="exampleApp">
<head>

	<title>LIC Smart Agent </title>
	<link href="css/bootstrap-3.1.1.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	 <link rel="stylesheet" href="css/kendo.common-material.min.css" />
    <link rel="stylesheet" href="css/kendo.material.min.css" />
    <link rel="stylesheet" href="css/kendo.dataviz.min.css" />
    <link rel="stylesheet" href="css/kendo.dataviz.material.min.css" />
     
<!-- <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.dataviz.min.css" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.dataviz.material.min.css" />
  -->
 
</head>

<body>
	<div class="loader" ng-hide="initialized">
		Loading...
	</div>

	<nav class="navbar navbar-fixed-top navbar-default ng-hide" role="navigation" ng-show="initialized">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">LIC Smart Agent</a>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="#!/">Home</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					
					
					<li class="dropdown" ng-show="user">
						<a href="" class="dropdown-toggle" data-toggle="dropdown">{{user.name}} <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="" ng-click="logout()"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container ng-hide" ng-show="initialized">
		<div class="alert alert-danger" ng-show="error">{{error}}</div>
		<div ng-view></div>
	</div>
	
<!-- 	<script src="js/jquery-2.0.2.js"></script> -->
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="js/bootstrap-3.1.1.min.js"></script>
	<script src="js/angular -1. 4.js"></script>
	<script src="js/angular-resource-1.4.js"></script>
	<script src="js/angular-route-1.4.js"></script>
	<script src="js/angular-cookies -1.4.js"></script>
 	<script src="js/jszip.min.js"></script>
 	<script src="http://cdn.kendostatic.com/2015.1.429/js/kendo.all.min.js"></script> 
 	<!--    <script src="http://cdn.kendostatic.com/2015.1.429/js/jszip.min.js"></script>
  <script src="http://cdn.kendostatic.com/2015.1.429/js/kendo.all.min.js"></script>-->
	<script src="js/config.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controller/controller.js"></script>
	<script src="js/services/service.js"></script>
	<script src="js/directives/directive.js"></script>
	<script data-require="angular-ui-bootstrap@0.9.0" data-semver="0.9.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.9.0.min.js"></script>





  
   
</body>
</html>