<div class="pull-right">
</div>
<div class="page-header">
	<h3>Admin Dashboard</h3>
</div>

<div class="container">
<div class="row">
<div class="col-lg-2">

<ul class="nav nav-pills nav-stacked">
  <li role="presentation"><a href="#!/premium">Premium</a></li>
  <li role="presentation"><a href="#!/plan">Plan</a></li>
  <li role="presentation"><a href="#!/channelType">Channel Type</a></li>
  <li role="presentation"><a href="#!/paymentType">Payment Type</a></li>
</ul>



</div>

<!-- $================  admin dashboard left content ============$ -->
<div  ng-repeat="Entry in newsEntries" class="col-lg-8">
<br>
<div ng-show="true">
Start display Dashboard


<h4>{{Entry.date | date}}</h4>
	<p>{{Entry.user}}</p>
</div>	
</div>
<!-- $================ End admin dashboard left content ============$ -->



</div>
</div>

<hr />