<div class="page-header">
	<h2>Login</h2>
</div>

<div class="row">
	<div class="col-md-6">
		<form  name="loginform"  ng-submit="login()" class="form-horizontal" novalidate>
			<div class="form-group">
				<label for="username" class="col-sm-3 control-label">User Name:</label>
				<div class="col-sm-9">
					<input id="username"  name="username"  ng-model="username" type="text" class="form-control" placeholder="User Name" ng-required="true"/>
				</div>
			</div>
			
   			  <span style="color: red"  ng-show="(loginform.username.$dirty || submitted) && loginform.username.$error.required">
      			Email is required
   			 </span> 
  <!-- 
  			tooltip="Search here" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" -->
  
			<!-- tooltip="Please" tooltip-placement="bottom"
			tooltip-trigger="{{{true: 'focus', false: 'never'}[loginform.username.$invalid]}}"  -->
			<div class="form-group">
				<label for="password" class="col-sm-3 control-label">Password:</label>
				<div class="col-sm-9">
					<input id="password"  name="password" ng-model="password" type="password" class="form-control" placeholder="Password" ng-required="true"  />
				</div>
			</div>
			  <span style="color: red" ng-show="(loginform.password.$dirty || submitted) && loginform.password.$error.required">
    			  Password is required
   	 		</span>
			
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="rememberMe"> Remember me
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<div class="checkbox">
						<label>
							<a href="#!/register">Create a New Account</a> 
						</label>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-9 col-sm-offset-3">
					<input type="submit"  value="Log In" class="btn btn-primary" />
				</div>
			</div>
		</form>
	</div>
	
	

</div>