<div class="pull-right">
</div>
<div class="page-header">
	<h3>Admin Dashboard</h3>
</div>

<div class="container">
<div class="row">
<div class="col-lg-2">

<ul class="nav nav-pills nav-stacked">
  <li role="presentation"><a href="#!/premium">Premium</a></li>
  <li role="presentation"><a href="#!/plan">Plan</a></li>
  <li role="presentation"><a href="#!/channelType">Channel Type</a></li>
  <li role="presentation"><a href="#!/paymentType">Payment Type</a></li>
</ul>


</div>
<div class="col-lg-8">
	<div class="pull-right">
		<a href="#!/paymentTypeCreate" class="btn btn-default" ng-show="hasRole('admin')" title="Create"><span class="glyphicon glyphicon-plus"></span></a>
	</div>
	<h3>Payment Type</h3>
	<div ng-repeat="Entr in form">
		<hr/>
		<div class="pull-right">
			<a href="" ng-click="deleteEntry(Entr)" class="btn btn-xs btn-default" ng-show="hasRole('admin')" title="delete"><span class="glyphicon glyphicon-trash"></span></a>
			<a href="#!/paymentTypeEdit/{{Entr.paymentTypeID}} " class="btn btn-xs btn-default" ng-show="hasRole('admin')" title="edit"><span class="glyphicon glyphicon-pencil"></span></a>
		</div><!-- /{{newsEntry.id}} -->
		
			<h4>{{Entr.paymentType}}</h4>
			<!-- <p>A/p:Karad</p>
	 -->
</div>
</div>



</div>
</div>

<hr />