

<div class="pull-right">
</div>
<div class="page-header">
	<h3>Admin Dashboard</h3>
</div>

<div class="container">
<div class="row">
<div class="col-lg-2">

<ul class="nav nav-pills nav-stacked">
  <li role="presentation"><a href="#!/premium">Premium</a></li>
  <li role="presentation"><a href="#!/plan">Plan</a></li>
  <li role="presentation"><a href="#!/channelType">Channel Type</a></li>
  <li role="presentation"><a href="#!/paymentType">Payment Type</a></li>
</ul>

{{name}}

</div>
<div class="col-lg-8">
<form class="form-horizontal">
	<div class="form-group">
		<label class="control-label col-sm-2" for="content">Plan Details</label>
		<div class="col-sm-10">
			Plan : <textarea ng-model="form.planName" id="content" class="form-control" rows="5">{{newsEntry.content}}</textarea>
			Description :<textarea ng-model="form.description" id="content" class="form-control" rows="5">{{newsEntry.content}}</textarea>
			Active :<input type="text" ng-model="form.isActive" id="content" class="form-control" >{{newsEntry.content}}</input>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-10 col-sm-offset-2">
			<button type="submit" class="btn btn-primary" ng-click="save()"><span class="glyphicon glyphicon-ok"></span> Save</button>
		</div>
	</div>
</form>
</div>

</div>
</div>

<hr />