

<div class="page-header">
	<h2>Register </h2>
</div>

<div class="row">
	<div class="col-md-6">
		<form  name="createuser" class="form-horizontal">
			<div class="form-group">
				<label for="firstName" class="col-sm-4 control-label">First Name:</label>
				<div class="col-sm-8">
					<input id="firstName" ng-model="form.firstName" type="text" class="form-control" />
				</div>
			</div>
			
			<div class="form-group">
				<label for="middleName" class="col-sm-4 control-label">Middle Name:</label>
				<div class="col-sm-8">
					<input id="middleName" ng-model="form.mName" type="text" class="form-control" />
				</div>
			</div>
			
			<div class="form-group">
				<label for="lastName" class="col-sm-4 control-label">Last Name:</label>
				<div class="col-sm-8">
					<input id="lastName" ng-model="form.lastName" type="text" class="form-control" />
				</div>
			</div>
			
			<div class="form-group">
				<label for="user" class="col-sm-4 control-label">User Name:</label>
				<div class="col-sm-8">
					<input id="user" ng-model="form.userName" type="text" class="form-control" />
				</div>
			</div>


			<div class="form-group">
				<label for="password" class="col-sm-4 control-label">Password:</label>
				<div class="col-sm-8">
					<input id="password" ng-model="form.password" type="password" class="form-control" />
				</div>
			</div>
			
			<div class="form-group">
				<label for="conformPassword" class="col-sm-4 control-label">Conform Password:</label>
				<div class="col-sm-8">
					<input id="conformPassword" ng-model=""  type="password" class="form-control" />
				</div>
			</div>
			
			<div class="form-group">
				<label for="email" class="col-sm-4 control-label">Email ID :</label>
				<div class="col-sm-8">
					<input id="email" ng-model="form.emailID" type="email" class="form-control" />
				</div>
			</div>
			
			<div class="form-group">
				<label for="phoneNumber" class="col-sm-4 control-label">Phone Number :</label>
				<div class="col-sm-8">
					<input id="phoneNumber" ng-model="form.phone" type="text" class="form-control" />
				</div>
			</div>
						
			<div class="form-group">
				<label for="address" class="col-sm-4 control-label">Address :</label>
				<div class="col-sm-8">
					<input id="address" ng-model="form.address" type="text" class="form-control" />
				</div>
			</div>
			
			<div class="form-group demo-section k-content">
				<label for="address" class="col-sm-4 control-label">DOB:</label>
				<div class="col-sm-8 box-col"><!-- 
					<input id="address" ng-model="form.address" type="text" class="form-control" /> -->
					 <input class="form-control" kendo-date-picker ng-model="form.dob" k-ng-model="dateObject" />
				</div>
			</div>
			
			<div class="form-group">
				<label for="reporting" class="col-sm-4 control-label">Reporting :</label>
				<div class="col-sm-8">
					<input id="reporting" ng-model="form.reporting" type="text" class="form-control" />
				</div>
			</div>
			
			<div class="form-group">
				<label for="agentNumber" class="col-sm-4 control-label">Agent number:</label>
				<div class="col-sm-8">
					<input id="agentNumber" ng-model="form.agentNumber" type="text" class="form-control" />
				</div>
			</div>
			
			

			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-8">
					<div class="checkbox">
						<label>
							<a href="#!/login">Already have an account</a> 
						</label>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-8 col-sm-offset-3">
					<input type="submit" value="submit" class="btn btn-primary" ng-click="registerSave()"/>
				</div>
			</div>
		</form>
	</div>
	
	

</div>